@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://www.youtube.com/watch?v=J0Wy359NJPM */
/* Note that .markdown-content > a  is only for a elements that are direct children*/
/* so changed to be any a...  */

@layer components {
  .markdown-content a {
    @apply bg-yellow-400 px-4 py-1 rounded-lg hover:bg-yellow-500;
  }
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote {
  background: #b3c5bc;
  color: #0b4237;
  padding: 10px;
  font-style: italic;
  font-size: large;
  border-left: 5px solid rgb(72, 72, 83);
  max-width: 80%;
}

/* .markdown-content a {
  background-color: yellow;
} */